.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: self-end;
  font-size: 16px;
}

.about__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
}

.about__link>span {
  transition: color .3s ease;
}

.about__link>span:hover {
  color: rgb(133, 133, 133);
}

.img__github {
  transition: all .3s ease;
}

.img__github:hover {
  filter: grayscale(100%);
}