.container {
  position: relative;
  display: flex;
}

.tooltip {
  position: absolute;
  bottom: 0;
  width: 180px;
  padding: 4px 12px;
  margin-left: calc(105%);
  justify-content: center;
  color: #FFFFFF;
  background-color: var(--mainColor);
  opacity: 0.4;
  border-radius: 12px;
  text-align: center;
  white-space: pre-line;
  font-weight: 700;
  pointer-events: none;
}