.container {
  position: relative;
  display: flex;
}

.tooltip {
  position: absolute;
  bottom: calc(100%);
  width: 180px;
  padding: 4px 12px;
  margin-left: calc(25%);
  justify-content: center;
  color: #ffffff;
  background-color: rgb(180, 180, 180);
  opacity: 0.9;
  border-radius: 12px;
  text-align: center;
  white-space: pre-line;
  pointer-events: none;
}