@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  border-bottom: 10px solid #00bcd4;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  padding-top: 30px;
}

.green {
  background-color: rgb(47, 145, 47);
}

.orange {
  background-color: rgb(236, 141, 62);
}

.blue {
  background-color: rgb(62, 172, 236);
}

.purple {
  background-color: rgb(236, 62, 178);
}