@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --mainColor: #00bcd4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  border-bottom: 10px solid var(--mainColor);
}

#root {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
}

button {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: var(--mainColor);
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
}

button:hover {
  filter: grayscale(90%);
}

input {
  width: 100px;
  text-align: center;
  border: none;
  font-size: 30px;
  margin: 20px;
  line-height: 1.5em;
}

h2 {
  font-size: 40px;
  text-shadow: 1px 1px 1px #7e7e7e;
  color: rgb(202, 202, 202);
  padding-bottom: 20px;
  border-bottom: 3px solid rgb(138, 138, 138);
}

h2:last-child {
  margin-bottom: 20px;
}

h3 {
  margin: 20px;
  font-size: 30px;
  font-weight: normal;
}

.clear__btn {
  background-color: inherit;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.clear__btn-img {
  width: 100%;
}

.step__box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: 20px;

}