.container {
  padding: 30px 90px;
  width: 100%;
  background-color: var(--pine);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 0;
}

.filter {
  font-size: 20px;
  display: flex;
  gap: 30px;
}